@import 'utils/variables.scss';
@import 'components/header';
@import 'components/logo';
@import 'components/title';
@import 'components/advantages';
@import 'components/what-we-do';
@import 'components/team';
@import 'components/customers';
@import 'components/footer';
@import 'components/icons';
@import 'components/modal';
@import 'components/button';
@import 'components/portfolio';

body {
  font-family: 'Roboto', sans-serif;
  color: $dark;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-border {
  border-bottom: 1px solid $header-border;
}

/* lists without styles */
.list {
  list-style-type: none;
}

.section-special {
  padding-top: 94px;
}

/* TITLE PAGE HEADERS */
.heading {
  font-size: 36px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin-bottom: 50px;
}

.page-header__raster {
  fill: $light-gray;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__is-active::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 46px;
  left: 0;
  background-color: $main-blue;
}

.page-header__active-container {
  position: relative;
}

.page-header__is-active {
  color: $main-blue;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity, visibility, 500ms cubic-bezier(0.4, 0, 0.2, 1);

  & .modal__box {
    transform: translateY(-50%) rotateX(90deg);
  }
}
